/*
	FOR HIM.HTML
*/

@import url(http://fonts.googleapis.com/css?family=Capriola);
.background-successful{
	background: -webkit-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -webkit-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -webkit-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -webkit-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -webkit-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -webkit-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: -moz-linear-gradient(63deg, #151515 5px, transparent 5px) 0 5px,
            -moz-linear-gradient(243deg, #151515 5px, transparent 5px) 10px 0px,
            -moz-linear-gradient(63deg, #222 5px, transparent 5px) 0px 10px,
            -moz-linear-gradient(243deg, #222 5px, transparent 5px) 10px 5px,
            -moz-linear-gradient(0deg, #1b1b1b 10px, transparent 10px),
            -moz-linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-size: 20px 20px;
	background-color: #131313;
	-pie-background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px / 20px,
                 linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px / 20px,
                 linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px / 20px,
                 linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px / 20px,
                 linear-gradient(90deg, #1b1b1b 10px, transparent 10px) 0 0 / 20px,
                 linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424)
                 0 0 / 20px #131313;
}

#owl-demo .item img{
	margin-top: 1%;
	margin-bottom:0;
	padding-bottom:0;
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
    height: auto;
	text-decoration:none;
}

.home-menu ul{
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
	list-style: none;
	text-align: left;
	font-family: Capriola, Helvetica, sans-serif, Century Gothic;
	font-weight: bold;
	font-size: 20px;
	position: relative;
}

body .home-menu ul li{
	display: inline-block;
	margin-bottom: 18px;
	margin-top: 20px;
	margin-left: 0;
	margin-right:0;
	padding:0;
	float: left;
}

.home-menu ul li > #him{
	background-color: #27408B;
	padding: 20px 70px 20px 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 70px;
}

.home-menu #bg-him {
	height: 5px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #27408B;
	float: left;
	
}

.home-menu ul li > #her{
	background-color: #9351a6;
	padding: 20px 70px 20px 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 70px;
}

.home-menu ul li > #her:hover{
	background-color: #551A8B;
	padding: 20px 70px 20px 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 70px;
}

.home-menu #her #bg-her{
	height: 5px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #9351a6;
}

.home-menu ul li > #us{
	background-color: #be4c39;
	padding: 20px 70px 20px 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 70px;
}

.home-menu ul li > #us:hover{
	background-color: #B22222;
	padding: 20px 70px 20px 60px;
	border-top-left-radius: 20px;
	border-top-right-radius: 70px;
}

.home-menu #us #bg-us{
	height: 5px;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #be4c39;
}

.home-menu li a {
	text-decoration: none;
	color: white;
}

.home-menu li a.active{
	color: black;
}

#container{
	margin-bottom: 2%;
	opacity:0.9;
}

#container.active{
	background-color: #60AFFE;
	float:left;
	padding-bottom:1%;
	padding-top: 1%;
	margin-top:0;
	margin-left: 15%;
	margin-right: 15%;
    width: 70%;
    height: auto;
}

#him-menu>header{
	font-family: Century Gothic, Sans Serif;
	font-size: 25px;
	text-align: center;
	color: white;
	background-color: black;
	padding: 10px;
}

#container #him-menu #picture1{
	float: left;
	height: 288px;
	width: 33.5%;
	margin: 30px 10px 10px 30px;
	border: 6px solid black;
}

#him-menu #description{
	float: left;
	height: 300px;
	width: 58%;
	margin: 30px 10px 10px 0px;
	opacity: 0.8;
	background-color: #fff;
	border-top-right-radius: 40px;
}

#him-menu span{
	float: left;
	font-family: Century Gothic, Sans Serif;
	font-size: 18px;
    margin:20px 20px 0px 20px;
	color: black;
	font-weight: bold;
}

#him-menu p{
	float: left;
	font-family: Century Gothic, Sans Serif;
	font-size: 15px;
    margin:20px;
	color: black;
}

#container #him-menu #description .other-pics > #thumbnails{
	float: left;
	display: inline-block; 
	height: 90px;
	width: 25%;
	padding:0;
	margin-left: 4%;
	margin-right: 4%;
}

#thumbnails > img{
	border: 2px dashed #551A8B;
}

#container #him-menu #picture2{
	float: left;
	height: 288px;
	width: 33.5%;
	margin: 10px 10px 10px 5px;
	padding:0;
	border: 6px solid black;
}

#him-menu #description2{
	float: left;
	height: 300px;
	width: 58%;
	margin: 10px 5px 10px 30px;
	opacity: 0.8;
	background-color: #fff;
	border-top-left-radius: 40px;
	text-align: right;
}

#him-menu #description2 #span2{
	float: right;
	font-family: Century Gothic, Sans Serif;
	font-size: 18px;
    margin:10px 20px 0px 20px;
	color: black;
	font-weight: bold;
	text-align: right;
}

#picture3{
	padding:0;
	border: 6px solid black;
	float: left;
	height: 288px;
	width: 33.5%;
	margin: 10px 10px 10px 30px;
}

#him-menu #description3{
	float: left;
	height: 300px;
	width: 58%;
	margin: 10px 10px 10px 0px;
	opacity: 0.8;
	background-color: #fff;
	border-top-right-radius: 40px;
}

#picture4{
	float: left;
	height: 288px;
	width: 33.5%;
	margin: 10px 10px 10px 5px;
	padding:0;
	border: 6px solid black;
	background: url("images/echo.png");
}

#picture4:hover{
	float: left;
	padding:0;
	height: 288px;
	width: 33.5%;
	margin: 10px 10px 10px 5px;
	border: 6px solid black;
	background: url("images/echo.gif");
	/*cursor: pointer;*/
}

#him-menu #description4{
	float: left;
	height: 300px;
	width: 58%;
	margin: 10px 5px 10px 30px;
	opacity: 0.8;
	background-color: #fff;
	border-top-left-radius: 40px;
	text-align: right;
}

#him-menu #description4 #span4{
	float: right;
	font-family: Century Gothic, Sans Serif;
	font-size: 18px;
    margin:10px 20px 0px 20px;
	color: black;
	font-weight: bold;
	text-align: right;
}

footer{
	font-family: Times New Roman, Sans-serif;
	color: white;
	font-size: 15px;
	text-align: center;
	margin-top: 70%;
	margin-bottom: 1%;
}

@media (max-width: 1356px){
	#him-menu #description3{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
	
	#picture3{
		height: auto;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}
}

@media (max-width: 1238px){
	#picture4{
		height: 396px;
		width: 54.9%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:21.9%;
		margin-right:21.9%;
		border: 6px solid black;
		background: url("images/echo.png");
	}

	#picture4:hover{
		height: 396px;
		width: 54.9%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:21.9%;
		margin-right:21.9%;
		border: 6px solid black;
		/*background: url("images/echo.gif");*/
		cursor: pointer;
	}

	#him-menu #description4{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
		text-align: right;
	}
}

@media (max-width: 1192px){
	#container #him-menu #picture2{
		height: 550px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}

	#him-menu #description2{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
		text-align: right;
	}
}

@media (max-width: 1060px){
	
	#container #him-menu #description .other-pics > #thumbnails{
		vertical-align: middle;
		display: inline-block; 
		height: auto;
		width: 25%;
		padding:0;
		margin-left: 4%;
		margin-right: 4%;
		padding-bottom:5%;
	}

	#container #him-menu #picture1{
		height: 550px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}

	#him-menu #description{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
	
	#container #him-menu #picture2{
		height: 550px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}

	#him-menu #description2{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
		text-align: right;
	}

	#picture3{
		height: 550px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}

	#him-menu #description3{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}

	#picture4{
		height: 396px;
		width: 67.8%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:15.25%;
		margin-right:15.25%;
		border: 6px solid black;
		background: url("images/echo.png");
	}

	#picture4:hover{
		height: 396px;
		width: 67.8%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:15.25%;
		margin-right:15.25%;
		border: 6px solid black;
		background: url("images/echo.gif");
		cursor: pointer;
	}

	#him-menu #description4{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
		text-align: right;
	}

	footer{
		font-family: Sans-serif, Times New Roman;
		color: white;
		font-size: 15px;
		text-align: center;
		margin-top: 70%;
		margin-bottom: 1%;
	}
}

@media (max-width: 885px){
	#him-menu #description3{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
	
	#him-menu #description4{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
}

@media (max-width: 839px){
	#him-menu #description{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
	
	#him-menu #description2{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
	
	#container #him-menu #picture1{
		height: 350px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}
	
	#container #him-menu #picture2{
		height: 350px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}
	
	#container #him-menu #picture3{
		height: 350px;
		width: 88.4%;
		vertical-align: middle;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		border: 6px solid black;
	}
}

@media (max-width: 741px){
	#him-menu #description3{
		vertical-align: middle;
		height: auto;
		width: auto;
		margin-top: 10px;
		margin-bottom: 10px;
		margin-left:5%;
		margin-right:5%;
		opacity: 0.8;
		background-color: #fff;
		border-radius: 20px;
	}
}